In [ ]:
my_class = tuple()
print(type(my_class))

<class 'tuple'>

In [ ]:
new_tuple = (7,)
print(type(new_tuple))

<class 'tuple'>

In [ ]:
interest = ('삼성전자','LG전자','SK Hynix')
li = list(interest)
print(type(li))

<class 'list'>

In [ ]:
li = [i for i in range(1,100) if i%2==0]
tu = tuple(li)
print(tu)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
temp = {}
print(type(temp))

<class 'dict'>

In [ ]:
icecream = {"메로나":1000,"요망떼":800,"월드콘":2000}
print(icecream)

{'메로나': 1000, '요망떼': 800, '월드콘': 2000}

In [ ]:
icecream = {"메로나":1000,"요망떼":800,"월드콘":2000}
icecream["죠스바"] = 1300
icecream["구구콘"] = 2500
print(icecream)

{'메로나': 1000, '요망떼': 800, '월드콘': 2000, '죠스바': 1300, '구구콘': 2500}

In [ ]:
icecream = {"메로나":1000,"요망떼":800,"월드콘":2000}
print(icecream["월드콘"])

2000

In [ ]:
icecream = {"메로나":1000,"요망떼":800,"월드콘":2000}
del(icecream["요망떼"])
print(icecream)

{'메로나': 1000, '월드콘': 2000}

In [ ]:
if True:
  if False:
    print("1")
    print("2")
  else:
    print("3")
else:
  print("4")
print("5")

3
5

In [ ]:
num = int(input("숫자를 입력하세요:"))
if num %2==0:
  print("짝수")
else:
  print("홀수")

숫자를 입력하세요:245
홀수

In [ ]:
fruit = ["사과","딸기","체리"]
input_fruit = input("과일을 입력하세요! ")
if input_fruit in fruit:
  print("집에 있음")
else:
  print("{}를 구입하세요".format(input_fruit))

과일을 입력하세요! 배
배를 구입하세요

In [ ]:
fruit = {"봄":"딸기","여름":"토마토","가을":"사과"}
answer = input("제가 좋아 하는 계절은:")
if answer in fruit:
  print("정답입니다")
else:
  print("오답입니다")

제가 좋아 하는 계절은:딸기
오답입니다

In [ ]:
fruit = {"봄":"딸기","여름":"토마토","가을":"사과"}
answer = input("제가 좋아 하는 과일은:")
if answer in fruit.values():
  print("정답입니다")
else:
  print("오답입니다")

제가 좋아 하는 과일은:한라봉
오답입니다

In [ ]:
phone_num = {"011":"SKT","016":"KT","019":"LGU","010":"알수없음"}
user_num = input("휴대전화 번호 입력: ").split("-")
print(phone_num[user_num[0]])

휴대전화 번호 입력: 011-31241-321321
SKT

In [ ]:
li = ["은평구","은평구","은평구","중구","중구","서대문구","서대문구","마포구","마포구","용산구"]
number = input("우편번호를 입력하세요: ")
print(li[int(number[2])])

우편번호를 입력하세요: 01723
마포구

In [ ]:
li = ["SK하이닉스","삼성전자","LG전자"]
for i in li:
  print(len(i))

6
4
4

In [ ]:
li = [3,-20,-3,44]
for i in li:
  if i < 0:
    print(i)

-20
-3

In [ ]:
li = ["I","study","python","They","are","!"]
for i in li:
  if len(i) >= 3:
    print(i)

study
python
They
are

In [ ]:
for i in range(11,-1,-1):
  print(i)

11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
low_prices = [100,200,400,800,1000]
high_prices = [150,300,430,880,1000]
volatility = list()
for i in range(len(high_prices)):
  volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
station = "구파발"
station = input()
print("연신내행 열차가 들어오고 있습니다".replace("연신내",station))

인천
인천행 열차가 들어오고 있습니다

In [ ]:
jumin_number = "060107-3456789"
print("성별:",jumin_number[7])
print("연:",jumin_number[:2])
print("월:",jumin_number[2:4])
print("일:",jumin_number[4:6])
print("생년월일:",jumin_number[:6])
print("뒤 8자리:",jumin_number[7:])
print(jumin_number[-1])
print(jumin_number[-2])

성별: 3
연: 06
월: 01
일: 07
생년월일: 060107
뒤 8자리: 3456789
9
8

In [ ]:
baurl = "https://naver.com"
url = baurl[8:]
url = url.split(".")[0]
url = url[:3]+str(len(url))+str(url.count("e"))+"!"
print("{}의 비밀번호는 {}입니다.".format(baurl,url))

https://naver.com의 비밀번호는 nav51!입니다.

In [ ]:
li = [1,3,5,4,2]
li.sort(reverse=True)
print(li)

[5, 4, 3, 2, 1]

In [ ]:
li = [i if i % 2 == 0 else i+1 for i in range(1,20,2)]
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
from random import *
li = [i for i in range(1,21)]
print(li)
shuffle(li)
print(li)
sam=sample(li,4)
print("당첨자발표 -- 치킨 당첨자: {} 커피 당첨자: {}".format(sam[0],sam[1:]))
print("축하합니다 --")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[10, 18, 20, 1, 11, 3, 13, 4, 8, 9, 19, 12, 14, 17, 15, 7, 5, 2, 6, 16]
당첨자발표 -- 치킨 당첨자: 3 커피 당첨자: [18, 15, 2]
축하합니다 --

In [ ]:
money = 2000
card = 1
if money >= 3000 or card == True:
  print("택시를 타고 갑니당~~")
else:
  print("걸어갑니다..")

택시를 타고 갑니당~~

In [ ]:
weather = input("오늘 날씨는 어때요?")
if weather == "비" or weather == "눈":
  print("우산을 챙기고 갑니다~~")
elif weather == "미세먼지":
  print("마스크를 챙기고 갑니다..")
else:
  print("준비물이 필요하지않습니다~~")

오늘 날씨는 어때요?눈
우산을 챙기고 갑니다~~

In [26]:
summary = 0
for i in range(1,101):
  summary+=i
print(summary)

5050

In [ ]:
marks = [90,25,67,45,80]
for i in range(len(marks)):
  if marks[i] >= 80:
    print("{}번 학생은 합격입니다.".format(i+1), end="")
  else:
    print("{}번 학생은 불합격입니다.".format(i+1),end="")

1번 학생은 합격입니다.2번 학생은 불합격입니다.3번 학생은 불합격입니다.4번 학생은 불합격입니다.5번 학생은 합격입니다.

In [ ]:
cnt=0
while cnt<3:
  cnt+=1
  a = int(input("더하고자 하는 첫번째 값을 입력하세요: "))
  b = int(input("더하고자 하는 두번째 값을 입력하세요: "))
  if a == 0 and b==0:
    print("계산을 종료합니다")
    break
  print("{} + {} = {}".format(a,b,a+b))

더하고자 하는 첫번째 값을 입력하세요: 5
더하고자 하는 두번째 값을 입력하세요: 13
5 + 13 = 18
더하고자 하는 첫번째 값을 입력하세요: 0
더하고자 하는 두번째 값을 입력하세요: 0
계산을 종료합니다

In [24]:
i=0
summary=0
while True:
  i+=1
  summary+=i
  if i == 100:
    break
print("1부터 100까지의 합은 {}입니다".format(summary))

1부터 100까지의 합은 5050입니다

In [3]:
coffee = 4
coffee_price = 300
while True:
  money = int(input("돈을 넣어주세요:"))
  if money > coffee_price:
    print("거스름돈 {}원을 주고 커피를 줍니다".format(money-coffee_price))
    coffee-=1
  elif money == 300:
    print("거스름돈 없이 커피만 줍니다")
    coffee-=1
  else:
    print("돈을 다시 돌려주고 커피를 주지않습니다")
  print("남은 커피의 양은 {}개입니다".format(coffee))
  if coffee ==0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 넣어주세요:300
거스름돈 없이 커피만 줍니다
남은 커피의 양은 3개입니다
돈을 넣어주세요:500
거스름돈 200원을 주고 커피를 줍니다
남은 커피의 양은 2개입니다
돈을 넣어주세요:200
돈을 다시 돌려주고 커피를 주지않습니다
남은 커피의 양은 2개입니다
돈을 넣어주세요:200
돈을 다시 돌려주고 커피를 주지않습니다
남은 커피의 양은 2개입니다
돈을 넣어주세요:500
거스름돈 200원을 주고 커피를 줍니다
남은 커피의 양은 1개입니다
돈을 넣어주세요:400
거스름돈 100원을 주고 커피를 줍니다
남은 커피의 양은 0개입니다

In [ ]:
li = [i for i in range(0,20) if i % 2 == 0]
print(li)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
a = [1,2,3,4,5,6,7,8,9]
li = [i*2 for i in a if i%2==0]
print(li)

[4, 8, 12, 16]

In [13]:
a = [1,2,3,4,5,6,7,8,9]
li = [i*2 if i%2==0 else -1 for i in a]
print(li)

[-1, 4, -1, 8, -1, 12, -1, 16, -1]

In [16]:
def print_arithmetic_operation(a,b):
  print("{} + {} = {}".format(a,b,a+b))
  print("{} - {} = {}".format(a,b,a-b))
  print("{} / {} = {}".format(a,b,a/b))
  print("{} * {} = {}".format(a,b,a*b))

a,b = map(int, input().split())
print_arithmetic_operation(a,b)

30 20
30 + 20 = 50
30 - 20 = 10
30 / 20 = 1.5
30 * 20 = 600

In [ ]:
c = "python"
def print_reverse(num):
  print(num[::-1])
print_reverse(c)

nohtyp

In [4]:
li = [99,23,80,79,65,31,0,24,54,35,100,72]
def print_score(li):
  avg = sum(li)/len(li)
  return avg
print(print_score(li))

55.166666666666664

In [9]:
dic = {"이름":"김말똥","나이":30,"성별":0}
def print_keys(dic):
  for i in dic.keys():
    print(i)
print_keys(dic)

이름
나이
성별

In [11]:
def make_list(st):
  st = list(st)
  return st
new_st = input()
print(make_list(new_st))

python
['p', 'y', 't', 'h', 'o', 'n']

In [13]:
a = [3,100,66,44]
li = [i for i in a if i%3==0]
print(li)

[3, 66]